.contact-container {
  margin: 80px auto;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info,
.contact-form {
  flex-basis: 48%;
}

.contact-info h3,
.contact-form h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

.map-container {
  margin-top: 20px;
}

.contact-form form input,
.contact-form form textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px;
  background: #ebecfe;
  border: 0;
  outline: none;
  border-radius: 5px;
  resize: none;
}

.contact-form form button {
  background: #000f38;
  color: whitesmoke;
  padding: 8px 30px;
  margin: 5px 0 0;
  border: 0;
  outline: none;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.contact-form .form-result {
  display: block;
  margin-top: 20px;
}
