.video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-player iframe {
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.video-player.hide {
  display: none;
}
