/* Overall container */
.all-data-container {
  padding: 20px;
}

/* Heading styles */
.table-title {
  margin-bottom: 10px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Table header styles */
thead {
  background: #f2f2f2;
}

th,
td {
  padding: 8px;
  text-align: left;
}

/* Alternate row colors for better readability */
tbody tr:nth-child(even) {
  background: #f9f9f9;
}

table .table-button {
  padding: 5px;
  cursor: pointer;
}

table .table-button .view-button {
  color: #666;
}

table .table-button .edit-button {
  color: #4169e1;
}

table .table-button .delete-button {
  color: #ff6347;
}

/* Responsive table */
@media screen and (max-width: 600px) {
  table {
    overflow-x: auto;
    display: block;
  }

  th,
  td {
    white-space: nowrap;
  }

  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
  }
}
