.youtube-area {
  background: #efefef;
  padding: 50px 4.5%;
}

.youtube-area-title {
  font-size: 36px;
  font-weight: 700;
  color: #000f37;
  margin-bottom: 20px;
}

.youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-items-active {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-items-row {
  display: flex;
  flex-basis: calc(25% - 20px);
  justify-content: center;
  margin-top: 20px;
}

.video-items {
  margin: 0 10px;
}

.video-items video {
  width: 100%;
  height: auto;
}
