.pre-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  background: salmon;
}
.pre-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.pre-nav ul li {
  margin: 0;
}
.pre-nav ul li a,
.pre-nav ul li i {
  color: white;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.pre-nav ul li a:hover,
.pre-nav ul li i:hover {
  color: aquamarine;
  transform: scale(1.2);
}
.pre-nav .join-us-button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background: salmon;
  color: #000f38;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.pre-nav .join-us-button:hover {
  background: white;
  color: salmon;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5%;
  color: white;
  position: relative;
  transition: background-color 0.3s ease;
}
.nav-logo {
  font-family: "Outfit", sans-serif;
  font-size: 2.625rem;
  font-weight: 500;
  color: aquamarine;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  gap: 1.25rem;
}
.nav-menu a {
  padding: 0.5rem 0;
  color: #9c9c9c;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
.nav-menu a:hover {
  color: #666;
  border-bottom: 0.1875rem solid salmon;
}
.nav-contact {
  border-radius: 50px;
  padding: 0.625rem 2.375rem;
  background: #fff;
  color: #262626;
}

.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.7rem 5%;
  background: #f5f5f5;
  border-bottom: 2px salmon solid;
  z-index: 1000;
}
.nav.sticky .nav-contact {
  color: salmon;
  background: #000f38;
}
.nav.sticky .nav-logo {
  color: salmon;
}
