.pre-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5%;
  background: #fa8072cc;
}
.pre-nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.pre-nav ul li {
  margin: 0;
}
.pre-nav ul li a,
.pre-nav ul li i {
  color: white;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.pre-nav ul li a:hover,
.pre-nav ul li i:hover {
  color: aquamarine;
  transform: scale(1.2);
}
.pre-nav .join-us-button {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background: transparent;
  color: #000f38;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.pre-nav .join-us-button:hover {
  background: white;
  color: salmon;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5%;
  color: white;
  position: relative;
  transition: background-color 0.3s ease;
}
.nav-logo {
  font-family: "Outfit", sans-serif;
  font-size: 2.625rem;
  font-weight: 500;
  color: aquamarine;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  gap: 1.75rem;
}
.nav-menu a {
  padding: 0.5rem 0;
  color: #f5f5f5;
  font-weight: 400;
  transition: color 0.175s ease-in-out, border-bottom 0.175s ease-in-out;
}
.nav-menu a:hover {
  color: salmon;
  border-bottom: 0.1875rem solid salmon;
}
.nav-contact {
  border-radius: 50px;
  padding: 0.525rem 1.75rem;
  background: #fff;
  color: #262626;
}
.nav-contact:hover {
  background: salmon;
  color: white;
}

.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.7rem 5%;
  background: #f5f5f5;
  border-bottom: 2px salmon solid;
  z-index: 1000;
}
.nav.sticky .nav-menu a {
  color: #000f38;
}
.nav.sticky .nav-menu a:hover {
  border-color: rgb(0, 15, 56, 0.8);
}
.nav.sticky .nav-contact {
  color: #f5f5f5;
  background: #000f38;
}
.nav.sticky .nav-contact:hover {
  color: #000f38;
  background: salmon;
}
.nav.sticky .nav-logo {
  color: salmon;
}

.dropdown {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  display: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.nav-menu li {
  position: relative;
}
.nav-menu li:hover .dropdown {
  display: block;
}
.dropdown-item {
  padding: 0.5rem 1rem;
}
.dropdown-item a {
  width: 100%;
  color: #000f38;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.dropdown-item a:hover {
  color: salmon;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .nav {
    margin: 1rem 0;
  }
  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    border-bottom: 2px salmon solid;
    padding: 1rem 0;
    z-index: 1000;
  }
  .nav-menu a {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #f5f5f5;
  }
  .nav-menu a:hover {
    border-color: salmon;
  }
  .nav-contact {
    display: none;
  }
  .nav.sticky {
    padding: 0.7rem 0;
  }
  .nav.sticky .nav-menu {
    display: none;
  }
  .nav.sticky .nav-contact {
    display: block;
  }
  .nav.sticky .nav-contact:hover {
    background: salmon;
    color: white;
  }
  .nav.sticky .nav-logo {
    color: salmon;
  }
  .dropdown {
    top: 100%;
    left: 0;
    width: 100%;
  }
}
