.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5%;
  background: rgba(250, 128, 114, 0.8);
  font-size: 14px;
}

.header-top__contact-info {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-top__social-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-top__social-links li a,
.header-top__social-links li i {
  color: white;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header-top__social-links li a:hover,
.header-top__social-links li i:hover {
  color: #000f38;
  transform: scale(1.2);
}

.header-top__social-links li > .header-top__join-button {
  padding: 0.3rem 1rem;
  margin-inline-start: 1rem;
  border-radius: 50px;
  background: transparent;
  color: #000f38;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header-top__social-links li > .header-top__join-button:hover {
  background: #000f38;
  color: salmon;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.5rem 5% 01rem;
  position: relative;
  transition: background-color 0.3s ease;
}

.main-nav__logo {
  font-family: "Outfit", sans-serif;
  font-size: 2.625rem;
  font-weight: 500;
  color: aquamarine;
}

.main-nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  gap: 1.75rem;
}

.main-nav__menu a,
.main-nav__menu Link {
  padding: 0.5rem 0;
  color: whitesmoke;
  font-weight: 400;
  transition: color 0.175s ease-in-out, border-bottom 0.175s ease-in-out;
}

.main-nav__menu a:hover,
.main-nav__menu Link:hover {
  color: salmon;
  border-bottom: 0.1875rem solid salmon;
}

.main-nav__contact {
  border-radius: 50px;
  padding: 0.525rem 1.75rem;
  background: whitesmoke;
  color: #262626;
}

.main-nav__contact:hover {
  background: salmon;
  color: white;
}

.header-top.add-margin-for-sticky {
  margin-bottom: 5.5rem;
}

.main-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0.7rem 5%;
  background: whitesmoke;
  border-bottom: 2px salmon solid;
  z-index: 1000;
}

.main-nav.sticky .main-nav__menu a,
.main-nav.sticky .main-nav__menu Link {
  color: #000f38;
}

.main-nav.sticky .main-nav__menu a:hover,
.main-nav.sticky .main-nav__menu Link:hover {
  color: salmon;
  border-color: rgba(0, 15, 56, 0.8);
}

.main-nav.sticky .main-nav__contact {
  color: whitesmoke;
  background: #000f38;
}

.main-nav.sticky .main-nav__contact:hover {
  color: #000f38;
  background: salmon;
}

.main-nav.sticky .main-nav__logo {
  color: salmon;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  display: none;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: fadeIn 0.3s ease-in-out, display 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.main-nav__menu li {
  position: relative;
}

.main-nav__menu li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu__item {
  padding: 0.5rem 1rem;
}

.dropdown-menu__item a {
  width: 100%;
  color: #000f38;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.dropdown-menu__item a:hover {
  color: salmon;
  border-bottom: none;
}

/*
@media screen and (max-width: 768px) {

}
*/
