.blog-sidebar {
  flex: 3;
  height: fit-content;
  padding: 20px;
  padding-bottom: 30px;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-sidebar-title {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}
.blog-sidebar-item > img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
}
.blog-sidebar-item > p {
  padding: 30px;
}
.blog-sidebar-list {
  list-style: none;
  margin-bottom: 30px;
}
.blog-sidebar-list-item {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.blog-sidebar-social {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-sidebar-social > .blog-sidebar-icon {
  font-size: 18px;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
}
.blog-sidebar-social .fa-linkedin-in {
  color: #0077b5;
}
.blog-sidebar-social .fa-twitter {
  color: #1da1f2;
}
.blog-sidebar-social .fa-facebook-f {
  color: #3b5998;
}
.blog-sidebar-social .fa-instagram {
  color: #c13584;
}
.blog-sidebar-social .fa-youtube {
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .blog-sidebar {
    display: none;
  }
}
