.publications-container {
  padding: 0 5% 2.5%;
  background: #f0f4f8;
}

.publications-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.publication-item {
  flex: 1 1 calc(31% - 20px);
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #d1d9e6;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.publication-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.publication-pdf {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.publication-pdf embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.publication-info {
  text-align: center;
}

.publication-info .publication-info-title {
  color: #002855;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.publication-info .publication-ownership {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.publication-info .publication-info-author,
.publication-info .publication-info-date {
  font-size: 14px;
  color: #ccc;
}

.publication-info .publication-info-summary {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.publication-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}

.download-btn,
.share-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: #ccc;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
  text-align: center;
}

.download-btn i,
.share-btn i {
  font-size: 16px;
}

.download-btn:hover,
.share-btn:hover {
  background: #ccc;
  color: #333;
}
